<!DOCTYPE html>
<html>
<head>
  <title>Friends List</title>
</head>
<body>

  <div class="container">
    <h1>Friends List</h1>

    <% friends.forEach(function(friend) { %>
      <h2> <%=friend%> </h2>
    <% }); %>

  </div>

</body>
</html>
